{% extends "base.html" %} {% block title %}Java{% endblock %} {% block content
    %}
    <div class="content">   
      <main>
        <section class="figure-section">
          <figure>
            <iframe
              src="https://www.youtube.com/embed/grEKMHGYyns"
              allowfullscreen>
            </iframe>
            <figcaption>
              <h5>Java Tutorial for Beginners</h5>
            </figcaption>
          </figure>
          <div class="views-main">
            <div class="views-left">
              <p>15 Jul 2019</p>
              <i class="fas fa-circle"></i>
            </div>
          </div>
          <hr />
      
          <div class="video-discription">
         
            <div class="vid-des-info">
              
              <p>Java tutorial for beginners - Learn Java, the language behind millions of apps and websites. </p>
              
            </div>
          </div>
      
          <hr />
        </section>
        <aside class="side-tag-main">
          <div class="side-tag-top">
            <div class="l-s-thumb">
              <h4>Up next</h4>
            </div>
        
          </div>

          <div class="side-tag-1">
            <div class="thumbnail-img">
              <img
                class="thumb-1"
                src="{{ url_for('static', filename='python.jpg') }}"
                alt="thumbnail-1"
              />
            </div>
            <div class="thumbnail-r-1">
              <div class="s-b-view-1">
                <h4>
                  Python Tutorial for Beginners
                </h4>
              </div>
      
              <div class="s-b-view">
                <p>7K views</p>
              </div>
            </div>
          </div>
      
          <div class="side-tag-1">
            <div class="thumbnail-img">
              <img
                class="thumb-1"
                src="{{ url_for('static', filename='cpp.jpg') }}"
                alt="thumbnail-1"
              />
            </div>
            <div class="thumbnail-r-1">
              <div class="s-b-view-1">
                <h4>
                  C++ Tutorial for Beginners
                </h4>
              </div>
      
              <div class="s-b-view">
                <p>120K views</p>
              </div>
            </div>
          </div>
          </div>
        </aside>
      </main>
</div>


{% endblock %}